@model MRM.Database.Model.MasterCampaign
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Master Campaining List";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <style>
        fieldset {
            border: 1px solid #DDD;
            padding: 0 1.4em 1.4em 1.4em;
            margin: 25px 0 1.5em 0;
        }

        legend {
            font-size: 1.2em;
            font-weight: bold;
        }

        .btn-edit {
            width: 50px !important;
            float: left;
        }

        .btn-view {
            width: 50px !important;
            float: left;
            margin-top: 0% !important;
            margin-left: 3%;
        }

        .btn-delete {
            width: 80px !important;
            float: right;
            margin-top: 0% !important;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        @using (Html.BeginForm("MasterList", "MasterList", FormMethod.Post))
        {
            <div class="row">
                <fieldset>
                    <legend>Master Campaign Details</legend>
                    <div>
                        <table class="table table-bordered" data-resizable-columns-id="demo-table">
                            <thead class="header-background-color">
                            <tr>
                                <th>Master Campaign ID</th>
                                <th>Name</th>
                                <th style="width:30%">Master Campaign Description</th>
                                <th>Status</th>
                                <th style="width:10%;">Start Date</th>
                                <th style="width:10%;">End Date</th>
                                <th style="width:16%;">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var item in Model.MasterCampaigns)
                            {
                                <tr>
                                    <td>M-@item.Id.ToString("0000000")</td>
                                    <td>@Html.ActionLink((item.Name==null?"----":item.Name), "MasterCampaign", "MasterCampaign", new { Id = item.Id }, null)</td>
                                    <td>@item.CampaignDescription</td>
                                    <td>@item.Status</td>
                                    <td>@item.StartDate.Value.ToString("dd-MM-yyyy")</td>
                                    <td>@item.EndDate.Value.ToString("dd-MM-yyyy")</td>
                                    <td>
                                        @Html.ActionLink("View / Edit", "MasterCampaign", "MasterCampaign", new { id = item.Id}, new { })
                                        @if (item.Status != "Complete")
                                        {
                                            <input type="button" class="btn btn-block btn-primary btn-sm btn-delete" value="Delete" onclick="if (confirm('Are you sure you want to delete?')) location.href = '@Url.Action("MasterList", "MasterList", new {Id = item.Id, @Type = "Delete"})'" />
                                        }
                                    </td>
                                </tr>

                            }
                            </tbody>
                        </table>
                    </div>

                    <div class="row" style="padding-top:10px">
                        <div class="col-md-11">
                            <table cellpadding="0" cellspacing="0">
                                <tr>
                                    @for (int i = 1; i <= Model.PageCount; i++)
                                    {
                                        <td class="td-padding">
                                            @if (i != Model.CurrentPageIndex)
                                            {
                                                <a href="javascript:PagerClick(@i);">@i</a>
                                            }
                                            else
                                            {
                                                <span>@i</span>
                                            }
                                        </td>
                                    }
                                </tr>
                            </table>
                            <input type="hidden" id="hfCurrentPageIndex" name="currentPageIndex" />
                        </div>
                        <div class="col-md-1">
                            <input type="button" class="btn btn-block btn-primary btn-sm" value="Back" onclick="location.href='@Url.Action("Index", "MasterCampaign")'" style="width: 180% !important;height: 40px;margin-left: -85%;" />

                        </div>
                    </div>
                </fieldset>
            </div>
        }


    </div>
</body>
</html>

<script type="text/javascript">
    function PagerClick(index)
    {
        document.getElementById("hfCurrentPageIndex").value = index;
        document.forms[0].submit();
    }

</script>