@model MRM.Database.Model.MasterCampaign
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Master Campaining List";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    

    <style>
        fieldset {
            border: 1px solid #DDD;
            padding: 0 1.4em 1.4em 1.4em;
            margin: 25px 0 1.5em 0;
        }

        legend {
            font-size: 1.2em;
            font-weight: bold;
        }

        .btn-edit {
            width: 50px !important;
            float: left;
        }

        .btn-view {
            width: 50px !important;
            float: left;
            margin-top: 0% !important;
            margin-left: 3%;
        }

        .btn-delete {
            width: 80px !important;
            float: right;
            margin-top: 0% !important;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    @using (Html.BeginForm("MasterList", "MasterList", FormMethod.Post))
    {
        <div class="row">
            <fieldset>
                <legend>Master Campaign Details</legend>
                <div>
                    <table id="tblMasterList" class="table table-bordered" cellspacing="0">
                        <thead class="header-background-color">
                        <tr>
                            <th>Master Campaign ID</th>
                            <th>Name</th>
                            <th>Master Campaign Description</th>
                            <th>Status</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model.MasterCampaigns)
                        {
                            <tr id="master_tr@(item.Id)">
                                <td>M-@item.Id.ToString("0000000")</td>
                                <td>@Html.ActionLink((item.Name==null?"----":item.Name), "MasterCampaign", "MasterCampaign", new { Id = item.Id }, null)</td>
                                <td>@item.CampaignDescription</td>
                                <td>@item.Status</td>
                                <td>@(item.StartDate?.ToString("dd-MM-yyyy") ?? string.Empty)</td>
                                <td>@(item.EndDate?.ToString("dd-MM-yyyy") ?? string.Empty)</td>
                                <td>
                                    @Html.ActionLink("View / Edit", "MasterCampaign", "MasterCampaign", new { id = item.Id}, new { })
                                    @if (item.Status != "Complete")
                                    {
                                        <input type="button" class="btn btn-block btn-link btn-sm btn-delete" data-master-id="@item.Id" value="Delete"  />
                                    }
                                </td>
                            </tr>

                        }
                        </tbody>
                    </table>
                </div>
            </fieldset>
        </div>
    }


</div>
    

    

</body>

</html>

<script type="text/javascript">
    $(document).ready(function() {
        var masterTable = $('#tblMasterList').DataTable();

        $('#tblMasterList tbody').on( 'click', 'input', function () {
            var r = confirm("Are you sure you want to delete!");
            if (r === true) {
               debugger 
                $.ajax({
                    type: 'post',
                    url: '/MasterList/Delete?id='+$(this).attr('data-master-id'),
                    success:function(resp) {
                        masterTable.row($('#master_tr' + $(this).attr('data-master-id'))).remove().draw();
                    },
                    error:function(resp) {
                        alert('Something went wrong!\n' + resp);
                    }
                });
            }

           

        } );
    });
    function PagerClick(index)
    {
        document.getElementById("hfCurrentPageIndex").value = index;
        document.forms[0].submit();
    }

</script>