@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h2>Welcome MRM Campaign</h2>

    <fieldset>
        <span style="font-family:'Times New Roman', Times, serif;font-size:medium;">MRM description.<br />
                </span>
        
    </fieldset>
    <fieldset>
        @if (TempData["mastercount"].ToString() != "")
        {
            <div class="row alert alert-danger">
                <strong>Danger!</strong> @TempData["mastercount"].ToString()
            </div>
        }
        <div class="row">
            <div class="col-md-3"><label>Master Campaign</label></div>
            <div class="col-md-2"><input type="button" class="btn btn-block btn-primary btn-sm" value="Create" onclick="location.href='@Url.Action("MasterCampaign", "MasterCampaign")'" /></div>
            @*<div class="col-md-2 btnpadding"><input type="button" class="btn btn-block btn-primary btn-sm" value="Edit" onclick="location.href='@Url.Action("Index", "MasterCampaign")'" /></div>*@
            <div class="col-md-2"><input type="button" class="btn btn-block btn-primary btn-sm" value="View All" onclick="location.href='@Url.Action("MasterList", "MasterList")'" /></div>
        </div>
        <div class="row" style="padding-top:15px">
            <div class="col-md-3"><label>Sub Campaign</label></div>
            <div class="col-md-2"><input type="button" class="btn btn-block btn-primary btn-sm" value="Create" onclick="location.href='@Url.Action("ChildCampaign", "ChildCampaign")'" /></div>
            @*<div class="col-md-2 btnpadding"><input type="button" class="btn btn-block btn-primary btn-sm" value="Edit" onclick="location.href='@Url.Action("Index", "MasterCampaign")'" /></div>*@
            <div class="col-md-2"><input type="button" class="btn btn-block btn-primary btn-sm" value="View All" onclick="location.href='@Url.Action("ChildList", "ChildList")'" /></div>
        </div>
        <div class="row" style="padding-top:15px">
            <div class="col-md-3"><label>Tactic</label></div>
            <div class="col-md-2"><input type="button" class="btn btn-block btn-primary btn-sm" value="Create" onclick="location.href='@Url.Action("TacticCampaign", "TacticCampaign")'" /></div>
            @*<div class="col-md-2 btnpadding"><input type="button" class="btn btn-block btn-primary btn-sm" value="Edit" onclick="location.href='@Url.Action("Index", "MasterCampaign")'" /></div>*@
            <div class="col-md-2"><input type="button" class="btn btn-block btn-primary btn-sm" value="View All" onclick="location.href='@Url.Action("TacticList", "TacticList")'" /></div>
        </div>
    </fieldset>
</div>
<style>
    fieldset {
        border: 1px solid #DDD;
        padding: 0 1.4em 1.4em 1.4em;
        margin: 5px;
    }

    legend {
        font-size: 1.2em;
        font-weight: bold;
    }

    .btnpadding {
    padding-top:10px;
    }

.jumbotron {
   
     line-height: 1 !important; 
  
}
</style>




