@model MRM.ViewModel.MasterCampaignViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "MasterCampaign";
   // var val = Json.Encode(Model);
}



<script src="~/Scripts/jquery-2.1.3.min.js"></script>

<style>
    #mydiv {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
        background-color: grey;
        opacity: .8;
    }


    .loader {
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -32px; /* -1 * image width / 2 */
        margin-top: -32px; /* -1 * image height / 2 */
        display: block;
        border-radius: 50%;
        animation: spin 2s linear infinite;
        border: 16px solid #f3f3f3; /* Light grey */
        border-top: 16px solid #3498db; /* Blue */
        width: 120px;
        height: 120px;
    }

    @@keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
</style>

<div>
@*@using (Html.BeginForm("MasterCampaign", "MasterCampaign", FormMethod.Post, new { id = "myform" }))*@
@using (Ajax.BeginForm("Save", "MasterCampaign", new AjaxOptions { UpdateTargetId = "divInterestDeatils" }))
{
    <form>     
        <section class="content-header">          
        </section>
        <section class="content">
            <!-- SELECT2 EXAMPLE -->
            <div class="box box-default">
                <div class="box-header with-border">
                   
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <fieldset>
                        <legend>Master Campaign</legend>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Theme</label>                                                                       
                                    @Html.ListBoxFor(m => m.Themes_Id, new MultiSelectList(Model.ThemeViewModels, "Id", "Name",Model.Themes_Id), new { @class = "mr-mulsl form-control" })
                                </div>
                                <div class="form-group">
                                    <label>Business Group</label>
                                    @Html.ListBoxFor(m => m.BusinessGroups_Id, new MultiSelectList(Model.BusinessGroupViewModels, "Id", "Name",Model.BusinessGroups_Id), new { @class = "mr-mulsl form-control" })
                                </div>
                                <div class="form-group">
                                    <label>Business Line</label>
                                    @Html.ListBoxFor(m => m.BusinessLines_Id, new MultiSelectList(Model.BusinessLineViewModels, "Id", "Name",Model.BusinessLines_Id), new { @class = "mr-mulsl form-control" })
                                </div>
                                <div class="form-group">
                                    <label>Segment</label>
                                    @Html.ListBoxFor(m => m.Segments_Id, new MultiSelectList(Model.SegmentViewModels, "Id", "Name",Model.Segments_Id), new { @class = "mr-mulsl form-control" })
                                </div>
                                <div class="form-group">
                                    <label>Industry</label>
                                    @Html.ListBoxFor(m => m.Industries_Id, new MultiSelectList(Model.IndustryViewModels, "Id", "Name",Model.Industries_Id), new { @class = "mr-mulsl form-control" })
                                </div>                              
                                <div class="form-group">
                                    <label>Geography</label>
                                    @Html.ListBoxFor(m => m.Geographys_Id, new MultiSelectList(Model.GeographyViewModels, "Id", "Name",Model.Geographys_Id), new { @class = "mr-mulsl form-control" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div style="visibility:hidden">
                                        <label>End Date</label>
                                        @Html.TextBox("d", new { @class = "form-control" })
                                </div>                             
                                @*<div class="col-md-6 form-group" style="margin-left:-14px">
                                    <label>Start Date</label>
                                    @Html.TextBoxFor(m => m.StartDate, new { @class = "form-control" })
                                </div>*@


                                <div class='col-sm-6' style="margin-left:-14px">
                                    <div class="form-group">
                                        <label>Start Date</label>
                                        <div class='input-group date' id='StartDate'>
                                            @Html.TextBoxFor(m => m.StartDate, new { @maxlength = "10", @class = "form-control" })
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class='col-sm-6' style="margin-left:-14px">
                                    <div class="form-group">
                                        <label>End Date</label>
                                        <div class='input-group date' id='EndDate'>
                                            @Html.TextBoxFor(m => m.EndDate, new { @maxlength = "10", @class = "form-control" })
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            
                                <div class="form-group">
                                    <label>Status</label>
                                    @Html.DropDownListFor(m => m.Status, new List<SelectListItem>
                                     {
                                        new SelectListItem{ Text="Partial" },
                                        new SelectListItem{ Text="Complete" }
                                     }, new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label>Master Campaign*</label>
                                    @Html.TextBoxFor(m => m.Name, new { @maxlength = "25", @class = "form-control" })
                                </div>                               
                                <!-- /.form-group -->
                                <div class="form-group">
                                    <label>Master Campaign Description</label>
                                    @Html.TextAreaFor(m => m.CampaignDescription, new { @class = "form-control" })
                                </div>
                            </div>
                            <!--Upper code /.col -->
                        </div>
                        <!-- /.row -->
                    </fieldset>
                    <fieldset>
                        <div class="row" style="padding-top:10px">
                            <div class="col-md-9">
                            </div>
                            <div class="col-md-3">
                                <div class="col-md-6">
                                    <input type="button" class="btn btn-block btn-primary btn-lg" value="Back" onclick="location.href='@Url.Action("Index", "MasterCampaign")'" />
                                </div>
                                <div class="col-md-6">
                                    <button Id="btnsubmit" class="btn btn-block btn-primary btn-lg">Submit</button>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <!-- /.box-body -->
            </div>
           
</section>
    </form>
}
</div>

<link href="~/Content/datepicker3.css" rel="stylesheet" />
<script src="~/Content/bootstrap-datepicker.js"></script>


<script>

//$(document).ready(function () {
//    $("#btnsubmit").click(function (e) {
    
//        //var formData = $(this).serialize();
//        //var model = { BusinessGroupViewModels: $("BusinessGroupViewModels : selected").val(), Name: $("Name").text() }

//        var model = { BusinessGroupViewModels: "Shyju", Name: "Detroit" };
//        $.ajax({
//        type: 'post',
//        dataType: 'json',
//        url: 'http://localhost:53263/MasterCampaign/Save',
//        data: $("#myform").serialize(),
        
//        success: function (data) {
//            {
//                alert(data);
//            } 
//    },
//    });
//    });
//    });


 
    $('#StartDate').datepicker();
    $('#EndDate').datepicker();
   
</script>

    <script type="text/javascript">
    $(document).ready(function() {
        $('.mr-mulsl').multiselect({
            buttonWidth: '52%'
        });
      
       
    });
</script>



<style>
    .mr-mulsl {
    
    width:20px!important;
    }
    fieldset {
    border: 1px solid #DDD;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 25px 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}
</style>

