@model MRM.ViewModel.MasterCampaignViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "MasterCampaign";

}

<script src="~/Scripts/jquery-2.1.3.min.js"></script>

<style>
    #mydiv {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
        background-color: grey;
        opacity: .8;
    }


    .loader {
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -32px; /* -1 * image width / 2 */
        margin-top: -32px; /* -1 * image height / 2 */
        display: block;
        border-radius: 50%;
        animation: spin 2s linear infinite;
        border: 16px solid #f3f3f3; /* Light grey */
        border-top: 16px solid #3498db; /* Blue */
        width: 120px;
        height: 120px;
    }

    @@keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
</style>

<div>

@using (Ajax.BeginForm("Save", "MasterCampaign", new AjaxOptions { UpdateTargetId = "divInterestDeatils" }))
{
    <form>     
        <section class="content-header">          
        </section>
        <section class="content">
            <!-- SELECT2 EXAMPLE -->
            <div class="box box-default">
                <div class="box-header with-border">
                   
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                
                    <fieldset>
                      
                        <legend>Master Campaign<span class="text-danger" style="float:right;font-size:x-small">Note: Mandatory fields is marked with red aestric (*)</span></legend>
                      
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Theme</label>  <br />
                                    @Html.ListBoxFor(m => m.Themes_Id, new MultiSelectList(Model.ThemeViewModels, "Id", "Name", Model.Themes_Id), new { @class = "chosen-select form-control" })
                                </div>
                            </div>
                            <div class="col-md-6"><label>Start Date<span class="text-danger">*</span></label>
                                <div class="form-group">
                                    <div class="col-md-6 date datealign">
                                        <div class="input-group input-append date" id="StartDate">
                                            @Html.TextBoxFor(m => m.StartDate, new { @maxlength = "10", @class = "form-control" })
                                            <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>
                                    </div>
                                    <div class="validmsgSdate"></div>
                            </div>
                        </div>
                            </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Business Group<span class="text-danger">*</span></label><br />
                                    @Html.ListBoxFor(m => m.BusinessGroups_Id, new MultiSelectList(Model.BusinessGroupViewModels, "Id", "Name", Model.BusinessGroups_Id), new { @class = "chosen-select form-control" })
                                    <div class="validmsgbusinesGp"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>End Date<span class="text-danger">*</span></label>
                                <div class="form-group">
                                    <div class="col-md-6 form-group date datealign">
                                        <div class="input-group input-append date" id="EndDate">
                                            @Html.TextBoxFor(m => m.EndDate, new { @maxlength = "10", @class = "form-control" })
                                            <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="validmsgEdate"></div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Business Line<span class="text-danger">*</span></label><br />
                                    @Html.ListBoxFor(m => m.BusinessLines_Id, new MultiSelectList(Model.BusinessLineViewModels, "Id", "Name", Model.BusinessLines_Id), new { @class = "chosen-select form-control" })
                                    <div class="validmsgbusinesLine"></div>
                                 </div>
                            </div>
                            <div class="col-md-6">
                             
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Segment<span class="text-danger">*</span></label><br />
                                    @Html.ListBoxFor(m => m.Segments_Id, new MultiSelectList(Model.SegmentViewModels, "Id", "Name", Model.Segments_Id), new { @class = "chosen-select form-control" })
                                    <div class="validmsgbusinesSegment"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                              
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Industry<span class="text-danger">*</span></label><br />
                                    @Html.ListBoxFor(m => m.Industries_Id, new MultiSelectList(Model.IndustryViewModels, "Id", "Name", Model.Industries_Id), new { @class = "chosen-select form-control" })
                                    <div class="validmsgbusinesIndustry"></div>
                                  </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Geography</label><span class="text-danger">*</span><br />
                                    @Html.ListBoxFor(m => m.Geographys_Id, new MultiSelectList(Model.GeographyViewModels, "Id", "Name", Model.Geographys_Id), new { @class = "chosen-select form-control" })
                                    <div class="validmsgbusinesGeography"></div>
                                </div>
                            </div>
                           
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Master Campaign Name<span class="text-danger">*</span></label>
                                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                                    <div class="validmsgMaster"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Master Campaign Description<span class="text-danger">*</span></label>
                                    @Html.TextAreaFor(m => m.CampaignDescription, new { @class = "form-control" })
                                    <div class="validmsgMasterDesc"></div>
                                </div>

                            </div>
                        </div>
                        <!-- /.row -->
                    </fieldset>
                                </div>
                                <!--Upper code /.col -->
                    <fieldset>
                        <div class="row" style="padding-top:10px">
                            <div class="col-md-2">
                                    <input type="button" class="btn btn-block btn-primary btn-sm" value="Back" onclick="location.href='@Url.Action("Index", "MasterCampaign")'" />
                                    </div>
                            <div class="col-md-6"></div>
                                <div class="col-md-4">
                                    <div class="col-md-4">
                                        <button Id="btnsubmit" name="button" value="Submit"  class="btn btn-block btn-primary btn-sm"  onclick="return  ValidateForm()">Submit</button>
                                    </div>
                                    <div class="col-md-4">
                                        <button Id="btnsubmit" name="button" value="Save Draft" class="btn btn-block btn-primary btn-sm">Save Draft</button>
                                    </div>
                                    <div class="col-md-4">
                                        <button Id="btnsubmit" name="button" value="Delete" class="btn btn-block btn-danger btn-sm">Delete</button>
                                    </div>
                                </div>

                            </div>
                    </fieldset>
                </div>
                <!-- /.box-body -->
          
           
</section>
    </form>
}
</div>

<link href="~/Content/datepicker3.css" rel="stylesheet" />
<script src="~/Content/bootstrap-datepicker.js"></script>

<script>

 
    $('#StartDate').datepicker();
    $('#EndDate').datepicker();


    function ValidateForm() {
        var flag = true;
        if ($('#BusinessGroups_Id').val() == null) {

            $('.validmsgbusinesGp').text("Please select business group from drop-down").css("color", "#b94a48");
            $('.validmsgbusinesGp').show();
            flag = false;

        }
        else {
            $('.validmsgbusinesGp').hide();
        }

        if ($('#BusinessLines_Id').val() == null) {

            $('.validmsgbusinesLine').text("Please select business line from drop-down").css("color", "#b94a48");
            $('.validmsgbusinesLine').show();
            flag = false;

        }
        else
        {
            $('.validmsgbusinesLine').hide();
        }
        
        if ($('#Segments_Id').val() == null) {

            $('.validmsgbusinesSegment').text("Please select segment from drop-down").css("color", "#b94a48");
            $('.validmsgbusinesSegment').show();
            flag = false;

        }
        else {
            $('.validmsgbusinesSegment').hide();
        }

        if ($('#Industries_Id').val() == null) {

            $('.validmsgbusinesGeography').text("Please select geography from drop-down").css("color", "#b94a48");
            $('.validmsgbusinesGeography').show();
            flag = false;

        }
        else
        {
            $('.validmsgbusinesGeography').hide();
        }

       
        if ($("#StartDate").find("input").val() == "") {
            $('.validmsgSdate').text("Please select start date").css("color", "#b94a48");
            $('.validmsgSdate').show();
            flag = false;

        }
        else
        {
            $('.validmsgSdate').hide();
        }
        
        if ($("#EndDate").find("input").val() == "") {
            $('.validmsgEdate').text("Please select end date").css("color", "#b94a48");
            $('.validmsgEdate').show();
            flag = false;
        }
        else {
            $('.validmsgEdate').hide();
        }
        var startdate = new Date($("#StartDate").find("input").val());
        var enddate = new Date($("#EndDate").find("input").val());
        if (startdate > enddate) {
            $('.validmsgEdate').text("End date can not less than start date").css("color", "#b94a48");
            $('.validmsgEdate').show();
            flag = false;
        }

        if ($('#Name').val() == "") {
            $('.validmsgMaster').text("Please enter master campaign name").css("color", "#b94a48");
            $('.validmsgMaster').show();
            flag = false;
        }
        else {
            $('.validmsgMaster').hide();
        }

        if ($('#CampaignDescription').val() == "") {
            $('.validmsgMasterDesc').text("Please enter master campaign description name").css("color", "#b94a48");
            $('.validmsgMasterDesc').show();
            flag = false;
        }
        else
        {
            $('.validmsgMasterDesc').hide();
        }

        if (flag == false)
        {
            return false;;
        }
        else
        {

            true;
        }

    }

    $(document).ready(function () {
        $(document).on("change", "#BusinessGroups_Id", function (e) {
            var businessGroupId = $(this).find(":selected").val();

            if (businessGroupId != 0) {
                window.location.href = '/MasterCampaign/BusinessLine?id=' + businessGroupId + '&_=' + (new Date()).getTime();
            }

            
        });

        $(document).on("change", "#Segments_Id", function (e) {
            var segmenId = $(this).find(":selected").val();

            if (segmenId != 0) {
                if(segmenId == "undefined")
                    segmenId = 0;
                window.location.href = '/MasterCampaign/Industry?id=' + segmenId + '&_=' + (new Date()).getTime();
            }

            
        });
        
    });


</script>
<style>
    fieldset {
        border: 1px solid #DDD;
        padding: 0 1.4em 1.4em 1.4em;
        margin: 25px 0 1.5em 0;
    }


    .datealign {
        padding-left: 0px !important;
    }

    legend {
        font-size: 1.2em;
        font-weight: bold;
    }
      

</style>