<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Nokia Campaign</title>

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>

    @*<link href="~/Content/datepicker3.css" rel="stylesheet" />*@
    @* <script src="~/Content/bootstrap-datepicker.js"></script>*@

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*@Scripts.Render("~/bundles/jquery")*@
    <link href="~/Content/Multi-Select/docsupport/prism.css" rel="stylesheet" />
    <link href="~/Content/Multi-Select/chosen.css" rel="stylesheet" />
    <link href="~/Content/MasterStyle.css" rel="stylesheet" />

    <link href="~/Content/jquery-ui-1.12.1/jquery-ui-1.12.1/jquery-ui.min.css" rel="stylesheet" />
    <script src="~/Scripts/Configuration.js"></script>



</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @*<h1 style="color:#fff"><a href="/MasterCampaign/Index" style="color:#fff; text-decoration:none";>MRM</a></h1>*@
            <a href="/MasterCampaign/Index"> <img id="logo" src="~/Content/Image/nokia_white_logo.png" alt="Nokia logo" /></a>

        </div>
        <div class="navbar-collapse collapse" id="IdLoadView">
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
<div id="maindiv" class="container body-content">
    @RenderBody()

    <footer>
        <p class="footer-color">&copy; @DateTime.Now.Year Nokia</p>
    </footer>
</div>


@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>
<script src="~/Scripts/autoNumeric.js"></script>
<script type="text/javascript">
    $(document).ajaxStart(function () {
       $("<div id='globalLoader'><div class='loader'></div></div>")
             .dialog({ modal: true, dialogClass: 'dialogbg' }).show();

       $("#IdLoadView").addClass("OnLoaderscroll");

        $(".ui-dialog-titlebar").hide();
    });

    $(document).ajaxComplete(function () {
        customCode();
        BindDatePickerCalender();
        DatePickeronCalIcon();
        $('.numeric').autoNumeric('init');
        $('.onlynumeric').autoNumeric('init', { mDec: 0 }); 
 

    });

    var customCode = function () {
        var config = {
            '.chosen-select': {},
            '.chosen-select-deselect': { allow_single_deselect: true },
            '.chosen-select-no-single': { disable_search_threshold: 10 },
            '.chosen-select-no-results': { no_results_text: 'Oops, nothing found!' },
            '.chosen-select-rtl': { rtl: true },
            '.chosen-select-width': { width: '95%' }
        }
        for (var selector in config) {
            $(selector).chosen(config[selector]);
        }

        commonUiInitialization();
        $('#globalLoader').remove();
        $("#IdLoadView").removeClass("OnLoaderscroll");
        GetBGandSegmentSingleDDl();
        GetSubCampaignType();

        MasterChildNotSelected();
    };

    $(document).ready(function () {
        $('.numeric').autoNumeric('init');
        $('.onlynumeric').autoNumeric('init', { mDec: 0 });
        //$.fn.ajaxMRM = function (options) {
        //    var settingsmrm = $.extend(true, {}, options,{
        //        success: function (data) {
        //            options.success(data);
        //            customCode();
        //        }
        //    });

        //    $.ajax(settingsmrm);
        //};
        //  $(".chosen-single").data("placeholder", "None selected.").chosen();

       
       
        
        $(document).on('focus', '#BusinessLines_Id_chosen', function () {
            if ($('#BusinessGroups_Id').val() == null || $('#BusinessGroups_Id').val() == "-1" || $('#BusinessGroups_Id').val() == "0") {
                $('.validmsgbusinesLine').text("Please select Business group first").css("color", "#b94a48");
                $('.validmsgbusinesLine').show();
                $('#BusinessLines_Id').text('');
                return false;
            }
            else {

                $('.validmsgbusinesLine').hide();
            }
        });

        $(document).on('focus', '#Industries_Id_chosen', function () {
            if ($('#Segments_Id').val() == null || $('#Segments_Id').val() == "-1" || $('#Segments_Id').val() == "0") {
                $('.validmsgbusinesIndustry').text("Please select Segment first").css("color", "#b94a48");
                $('.validmsgbusinesIndustry').show();
                $('#Industries_Id').text('');
                return false;
            } else {

                $('.validmsgbusinesIndustry').hide();
            }

        });


        $(".tab-content").find("input, textarea, select")

        //////////////////
        $(document).on('focus', '.ChkCampselection', function () {
            ChkCampselection();
        });

        $(document).on('focus', '.chosen-choices', function () {
            ChkCampselection();
        });
        //////////////////////

        $(document).on('change', '.start-date-cal', function () {
            if ($(".start-date-cal").val() == '') {
                $(".end-date-cal").prop('disabled', true);
                $(".end-date-cal").val('');
            } else {
                $(".end-date-cal").prop('disabled', false);
            }
        });


        commonUiInitialization();
        GetBGandSegmentSingleDDl();
        GetSubCampaignType();
        DatePickeronCalIcon();
        $(document).on("change", "#CampaignTypes", function () {
            GetBGandSegmentSingleDDl();
            chosenclear();
        });

        BindDatePickerCalender();

        MasterChildNotSelected();
    });

    function BindDatePickerCalender() {     
        $(".start-date-cal").datepicker({
            dateFormat: 'dd M yy',
            onSelect: function (selected) {
                $(".end-date-cal").datepicker("option", "minDate", selected);
                $(".end-date-cal").prop('disabled', false);
            }
        });
        $(".end-date-cal").datepicker({
            dateFormat: 'dd M yy'
        });

        if ($(".start-date-cal").val() == '') {
            $(".end-date-cal").prop('disabled', true);
            $(".end-date-cal").val('');
        }

        //if ($('#MCStartDate').val() != '' && $('#MCEndDate').val() != '') {
        //    $('.start-date-cal').datepicker('option', {
        //        minDate: new Date($('#MCStartDate').val()),
        //        maxDate: new Date($('#MCEndDate').val())
        //    });
        //    $('.end-date-cal').datepicker('option', {
        //        minDate: new Date($('#MCStartDate').val()),
        //        maxDate: new Date($('#MCEndDate').val())
        //    });
        //}
    }

    function GetBGandSegmentSingleDDl() {

        var $select = $('#BusinessGroups_Id');
        var $selectSegment = $('#Segments_Id');
        if ($('#CampaignTypes').val() == 0) {
            $select.chosen('destroy');
            $select.removeAttr('multiple');
            $select.chosen();
        
            $selectSegment.chosen('destroy');
            $selectSegment.attr('multiple', 'multiple');
            $selectSegment.chosen();

            $('a[data-target-id="BusinessGroups_Id"]').hide();
            $('a[data-target-id="Segments_Id"]').show();
            $('.validmsgbusinesIndustry').hide();
            $('.manage-mandate').hide();

        }
        else if ($('#CampaignTypes').val() == 1) {
            $selectSegment.chosen('destroy');
            $selectSegment.removeAttr('multiple');
            $selectSegment.chosen();
           
          
            $select.chosen('destroy');
            $select.attr('multiple', 'multiple');
            $select.chosen();

            $('a[data-target-id="BusinessGroups_Id"]').show();
            $('a[data-target-id="Segments_Id"]').hide();
            $('.manage-mandate').show();
        }

        if ($("#MasterCampaignId").val() == "") {
            $('.validmsgsubcampaigntype').text("Please select Master Campaign first").css("color", "#b94a48");
            $('.validmsgsubcampaigntype').show();
            $('#CampaignTypes').attr("disabled", true).trigger("chosen:updated");
            return false;
        } else if ($('#Status').val() != "Complete") {
            $('.validmsgsubcampaigntype').hide();
            $('#CampaignTypes').attr("disabled", false).trigger("chosen:updated");
        }

       
        var pathname = window.location.pathname; // Returns path only
        if ($('#Status').val() == "Complete" && pathname.indexOf("ChildCampaign")>0) {
            $('a[data-select-all="selectunselect"]').hide();
            $('a[data-target-id="BusinessGroups_Id"]').hide();
            $('a[data-target-id="Segments_Id"]').hide();
        }

    }


  function  GetSubCampaignType()
    {
      if ($('#ChildCampaign_Id').val() == 0 || $('#ChildCampaign_Id').val() == "-1") {
          $('.validmsgbusinesIndustry').hide();
          $('.Industrymanage-mandate').hide();
      }

            var $select = $('#BusinessGroups_Id');
            var $selectSegment = $('#Segments_Id');
            if ($('#SubCampaignType').val() == 0) {
                $select.chosen('destroy');
                $select.removeAttr('multiple');
                $select.chosen();
        
                $selectSegment.chosen('destroy');
                $selectSegment.attr('multiple', 'multiple');
                $selectSegment.chosen();

                $('a[data-target-id="BusinessGroups_Id"]').hide();
                $('a[data-target-id="Segments_Id"]').show();
                $('.validmsgbusinesIndustry').hide();
                $('.Industrymanage-mandate').hide();

            }
            else if ($('#SubCampaignType').val() == 1) {
                $selectSegment.chosen('destroy');
                $selectSegment.removeAttr('multiple');
                $selectSegment.chosen();
          
                $select.chosen('destroy');
                $select.attr('multiple', 'multiple');
                $select.chosen();

                $('a[data-target-id="BusinessGroups_Id"]').show();
                $('a[data-target-id="Segments_Id"]').hide();
                $('.manage-mandate').show();
            }
    }

    
    function chosenclear() {
        var $select = $('#BusinessGroups_Id');
        var $selectSegment = $('#Segments_Id');

        if ($('#CampaignTypes').val() == 0) {
            $selectSegment.prop('selected', false);
            $selectSegment.val('');
            $selectSegment.trigger('chosen:updated');

        } else if ($('#CampaignTypes').val() == 1) {
            $select.prop('selected', false);
            $select.val('');
            $select.trigger('chosen:updated');
        }

    }

    var commonUiInitialization = function () {
        $('select.chosen-single').chosen();
    };

    function DDLSelectUnselect(thisOpt) {
        var getselectedval = $(thisOpt).closest('.form-group').find('a[data-select-all="selectunselect"]');
        var selectallElement = getselectedval.attr('data-target-id');
        var nextStage = getselectedval.attr('data-next-stage');
        if ($(thisOpt).val() == null) {

            $('#' + selectallElement + ' option').prop('selected', false);
            getselectedval.attr('data-next-stage', "select");
            getselectedval.text("Select All");
            $('#' + selectallElement).trigger('chosen:updated');
        } else if ($('#' + selectallElement).children('option').length == $(thisOpt).val().length) {
            getselectedval.attr('data-next-stage', "unselect");
            getselectedval.text("Select None");
            $('#' + selectallElement).trigger('chosen:updated');

        } else if ($(thisOpt).val().length < $('#' + selectallElement).children('option').length) {
            getselectedval.attr('data-next-stage', "select");
            getselectedval.text("Select All");
            $('#' + selectallElement).trigger('chosen:updated');
        }
    }


    function DatePickeronCalIcon() {
        $('.add-on.startcal').click(function (event) {
            if ($(this).closest('div').find('input[type="text"]').attr('disabled') == undefined) {
                event.preventDefault();
                $(".start-date-cal").datepicker('show');
            }
        });

        $('.add-on.endcal').click(function (event) {
            if ($(this).closest('div').find('input[type="text"]').attr('disabled') == undefined) {
                event.preventDefault();
                $(".end-date-cal").datepicker('show');
            }
        });
    }

    function ChkCampselection() {
        var pathname = window.location.pathname; // Returns path only
        var MID = null;
        if (pathname.indexOf("ChildCampaign") > 0) {
            MID = "#MasterCampaignId";
        } else { MID = "#MasterCampaign_Id"; }
        if ($(MID).val() == "") {
            if ($(MID).val() == "") {
                $('.validmsgMastercampaign').text("Please select Master Campaign first").css("color", "#b94a48");
                $('.validmsgMastercampaign').show();
                $("html, body").animate({ scrollTop: 0 }, 600);
                return false;
            } else {
                $('.validmsgMastercampaign').hide();
            }
        }
        else if ($("#ChildCampaign_Id").val() == "") {
            if ($("#ChildCampaign_Id").val() == "") {
                $('.validmsgSubcampaign').text("Please select Child Campaign first").css("color", "#b94a48");
                $('.validmsgSubcampaign').show();
                $("html, body").animate({ scrollTop: 0 }, 600);
                return false;
            } else {
                $('.validmsgSubcampaign').hide();
            }
        }
    }


    //When master or child not slected to fill form
 function MasterChildNotSelected()
    {
        var Path = window.location.pathname; // Returns path only
        if (Path.indexOf("ChildCampaign") > 0) {
            if ($("#MasterCampaignId").val() == "") {
                $('a[data-select-all="selectunselect"]').hide();
                $('a[data-target-id="BusinessGroups_Id"]').hide();
                $('a[data-target-id="Segments_Id"]').hide();
            }
        }
        else if (Path.indexOf("TacticCampaign") > 0) {
            if ($("#MasterCampaign_Id").val() == "") {
                $('a[data-select-all="selectunselect"]').hide();
                $('a[data-target-id="BusinessGroups_Id"]').hide();
                $('a[data-target-id="Segments_Id"]').hide();
            }
            else if ($("#ChildCampaign_Id").val() == "") {
                $('a[data-select-all="selectunselect"]').hide();
                $('a[data-target-id="BusinessGroups_Id"]').hide();
                $('a[data-target-id="Segments_Id"]').hide();
            }
        }
    }
</script>

<script src="~/Content/Multi-Select/chosen.jquery.js" type="text/javascript"></script>
<script src="~/Content/Multi-Select/docsupport/init.js"></script>

<style type="text/css">
    @@font-face {
        font-family: "Nokia";
        src: url("../../fonts/Roboto-Regular.ttf");
    }

    @@font-face {
        font-family: "Nokia";
        src: url("../../fonts/Roboto-Bold.ttf");
        font-weight: bold;
    }

    @@font-face {
        font-family: "Nokia";
        src: url("../../fonts/Roboto-Italic.ttf");
        font-style: italic;
    }

    @@font-face {
        font-family: "Nokia";
        src: url("../../fonts/Roboto-BoldItalic.ttf");
        font-weight: bold;
        font-style: italic;
    }

    body, h1, h2, h3, h4, h5, h6, p, div {
        font-family: 'Nokia';
    }

    /*.ui-widget-content{border:0px solid #fff !important}*/
    .dialogbg {
        background: transparent;
        border: 0px solid #fff !important;
        border-style: none;
        width: 100%!important;
        height: 100%!important;
        overflow-y:hidden!important;
    }
    #globalLoader {
        position: absolute;
        top: 0px!important;
        left: 0px!important;
        width: 100%!important;
        height: 180%!important;
        z-index: 1000;
        background-color: grey;
        opacity: .8;
    }
    .loader {
        border: 16px solid #f3f3f3;
        top: 250px;
        border-radius: 50%;
        border-top: 16px solid #3498db;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }

    @@-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @@keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    /*//Set scroll on multi select*/
    ul.chosen-choices {
        overflow: auto !important;
        max-height: 80px;
    }

    legend {
        width:inherit; /* Or auto */
        padding:0 10px; /* To give a bit of padding on the left and right */
        border-bottom:none;
    }
    fieldset {
        position: relative;
    }
    .legend2 {
        position: absolute;
        top: -0.2em;
        right: 20px;
        background: #fff;
        line-height:1.2em;
        font-size: x-small;
    }
    .OnLoaderscroll {
    overflow-y:hidden!important;
    }

   

</style>
