@model MRM.ViewModel.TacticCampaignViewModel
@{
    ViewBag.Title = "TacticCampaign";
}

<script src="~/Scripts/jquery-2.1.3.min.js"></script>
<div>
@using (Ajax.BeginForm("Save", "TacticCampaign", new AjaxOptions { UpdateTargetId = "divInterestDeatils" }))
{ 
    <form>
        @*<div id="mydiv" data-ng-show="loading">
                <div class="loader"></div>
            </div>*@
        <section class="content-header"></section>

        <section class="content">
            <!-- SELECT2 EXAMPLE -->
            <div class="box box-default">
                <div class="box-header with-border">
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <fieldset>
                            <legend>Tactic</legend>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Sub Campaign*</label>
                                    @Html.DropDownListFor(m => m.ChildCampaignViewModels, new SelectList(Model.ChildCampaignViewModels, "Id", "Name"), new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label>Theme</label>
                                    @Html.ListBoxFor(m => m.Themes_Id, new MultiSelectList(Model.ThemeViewModels, "Id", "Name"), new { @class = "mr-mulsl form-control" })
                                </div>
                                <div class="form-group">
                                    <label>Business Group*</label>
                                    @Html.ListBoxFor(m => m.BusinessGroups_Id, new MultiSelectList(Model.BusinessGroupViewModels, "Id", "Name"), new { @class = "mr-mulsl form-control" })
                                </div>
                                <div class="form-group">
                                    <label>Business Line*</label>
                                    @Html.ListBoxFor(m => m.BusinessLines_Id, new MultiSelectList(Model.BusinessLineViewModels, "Id", "Name"), new { @class = "mr-mulsl form-control" })
                                </div>
                                <!-- /.form-group -->
                                <div class="form-group">
                                    <label>Segment*</label>
                                    @Html.ListBoxFor(m => m.Segments_Id, new MultiSelectList(Model.SegmentViewModels, "Id", "Name"), new { @class = "mr-mulsl form-control" })
                                </div>
                                <div class="form-group">
                                    <label>Industry*</label>
                                    @Html.ListBoxFor(m => m.Industries_Id, new MultiSelectList(Model.IndustryViewModels, "Id", "Name"), new { @class = "mr-mulsl form-control" })
                                </div>                              
                                <div class="form-group">
                                    <label>Geography*</label>
                                    @Html.ListBoxFor(m => m.Geographys_Id, new MultiSelectList(Model.GeographyViewModels, "Id", "Name"), new { @class = "mr-mulsl form-control" })
                                </div>
                               
                                <div class="form-group">
                                    <label>Year*</label>
                                    @Html.TextBoxFor(m => m.Year, new { @maxlength = "4", @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label>Tactic</label>
                                    @Html.TextBoxFor(m => m.Name, new { @maxlength = "25", @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label>Tactic Description</label>
                                    @Html.TextAreaFor(m => m.TacticDescription, new { @class = "form-control" })
                                </div>
                                <!-- /.form-group -->
                            </div>
                            <!-- /.col -->

                            <div class="col-md-6">                                                
                                <div class="form-group" style="visibility:hidden">
                                    <label>End Date</label>
                                    @Html.TextBox("d", new { @maxlength = "10", @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <div class='col-sm-6' style="margin-left:-14px">
                                        <div class="form-group">
                                            <label>Start Date</label>
                                            <div class='input-group date' id='StartDate'>
                                                @Html.TextBoxFor(m => m.StartDate, new { @maxlength = "10", @class = "form-control" })
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='col-sm-6' style="margin-left:2px">
                                        <div class="form-group">
                                            <label>End Date</label>
                                            <div class='input-group date' id='EndDate'>
                                                @Html.TextBoxFor(m => m.EndDate, new { @maxlength = "10", @class = "form-control" })
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6 form-group" style="margin-left:-14px">
                                        <label>Status</label>
                                        @Html.DropDownListFor(m => m.Status, new List<SelectListItem>
                                     {
                                       new SelectListItem{ Text="Partial"},
                                        new SelectListItem{ Text="Complete"}
                                     }, new { @class = "form-control" })
                                    </div>
                                    </div>
                            </div>
                            <!-- /.col -->
                        </fieldset>
                        <fieldset>
                            <div class="row" style="padding-top:10px">
                                <div class="col-md-9">
                                </div>
                                <div class="col-md-3">
                                    <div class="col-md-6">
                                        <input type="button" class="btn btn-block btn-primary btn-lg" value="Back" onclick="location.href='@Url.Action("Index", "MasterCampaign")'" />
                                    </div>
                                    <div class="col-md-6">
                                        <button Id="btnsubmit" class="btn btn-block btn-primary btn-lg">Submit</button>

                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.box-body -->
            </div>
        </section>
    </form>
}
</div>


<link href="~/Content/datepicker3.css" rel="stylesheet" />
<script src="~/Content/bootstrap-datepicker.js"></script>

<script>
    $(document).ready(function () {
        $(document).on("change", "#ChildCampaignViewModels", function (e) {
            var childId = $(this).find(":selected").val();

            if (childId != 0) {
                window.location.href = '/TacticCampaign/TacticCampaign?id=' + childId + '&_=' + (new Date()).getTime();
            }


        });

    });


    $('#StartDate').datepicker();
    $('#EndDate').datepicker();

</script>


<style>
    fieldset {
        border: 1px solid #DDD;
        padding: 0 1.4em 1.4em 1.4em;
        margin: 25px 0 1.5em 0;
    }

    legend {
        font-size: 1.2em;
        font-weight: bold;
    }
</style>
<script type="text/javascript">
    $(document).ready(function() {
       // $('.mr-mulsl').multiselect();
        $('.mr-mulsl').multiselect({
            buttonWidth: '52%'
        });

    });


   
</script>