@model MRM.Model.TacticCampaignViewModel
@{
    ViewBag.Title = "TacticCampaign";
}

<div>
@using (Ajax.BeginForm("Save", "TacticCampaign", new AjaxOptions { UpdateTargetId = "divInterestDeatils" }))
{ 
    <form>
        @*<div id="mydiv" data-ng-show="loading">
                <div class="loader"></div>
            </div>*@
        <section class="content-header"></section>

        <section class="content">
            <!-- SELECT2 EXAMPLE -->
            <div class="box box-default">
                <div class="box-header with-border">
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <fieldset>
                            <legend>Tactic</legend>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Theme</label>
                                    @Html.DropDownListFor(m => m.Themes_Id, new SelectList(Model.ThemeViewModels, "Id", "Name"), new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label>Business Group*</label>
                                    @Html.DropDownListFor(m => m.BusinessGroups_Id, new SelectList(Model.BusinessGroupViewModels, "Id", "Name"), new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label>Business Line*</label>
                                    @Html.DropDownListFor(m => m.BusinessLines_Id, new SelectList(Model.BusinessLineViewModels, "Id", "Name"), new { @class = "form-control" })
                                </div>
                                <!-- /.form-group -->
                                <div class="form-group">
                                    <label>Segment*</label>
                                    @Html.DropDownListFor(m => m.Segments_Id, new SelectList(Model.SegmentViewModels, "Id", "Name"), new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label>Industry*</label>
                                    @Html.DropDownListFor(m => m.Industries_Id, new SelectList(Model.IndustryViewModels, "Id", "Name"), new { @class = "form-control" })
                                </div>                              
                                <div class="form-group">
                                    <label>Geography*</label>
                                    @Html.DropDownListFor(m => m.Geographys_Id, new SelectList(Model.GeographyViewModels, "Id", "Name"), new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label>Sub Champaign*</label>
                                    @Html.DropDownListFor(m => m.ChildCampaignViewModels, new SelectList(Model.ChildCampaignViewModels, "Id", "Name"), new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label>Year*</label>
                                    @Html.TextBoxFor(m => m.Year, new { @maxlength = "4", @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label>Tactic</label>
                                    @Html.TextBoxFor(m => m.Name, new { @maxlength = "25", @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label>Tactic Description</label>
                                    @Html.TextAreaFor(m => m.TacticDescription, new { @class = "form-control" })
                                </div>
                                <!-- /.form-group -->
                            </div>
                            <!-- /.col -->

                            <div class="col-md-6">                                                
                                <div class="form-group" style="visibility:hidden">
                                    <label>End Date</label>
                                    @Html.TextBox("d", new { @maxlength = "10", @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <div class='col-sm-6' style="margin-left:-14px">
                                        <div class="form-group">
                                            <label>Start Date</label>
                                            <div class='input-group date' id='StartDate'>
                                                @Html.TextBoxFor(m => m.StartDate, new { @maxlength = "10", @class = "form-control" })
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='col-sm-6' style="margin-left:2px">
                                        <div class="form-group">
                                            <label>End Date</label>
                                            <div class='input-group date' id='EndDate'>
                                                @Html.TextBoxFor(m => m.EndDate, new { @maxlength = "10", @class = "form-control" })
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6 form-group" style="margin-left:-14px">
                                        <label>Status</label>
                                        @Html.DropDownListFor(m => m.Status, new List<SelectListItem>
                                     {
                                       new SelectListItem{ Text="Partial", Value = "0" },
                                        new SelectListItem{ Text="Complete", Value = "1" }
                                     }, new { @class = "form-control" })
                                    </div>
                                    </div>
                            </div>
                            <!-- /.col -->
                        </fieldset>
                        <fieldset>
                            <div class="row" style="padding-top:10px">
                                <div class="col-md-9">
                                </div>
                                <div class="col-md-3">
                                    <div class="col-md-6">
                                        <input type="button" class="btn btn-block btn-primary btn-lg" value="Back" onclick="location.href='@Url.Action("Index", "MasterCampaign")'" />
                                    </div>
                                    <div class="col-md-6">
                                        <button Id="btnsubmit" class="btn btn-block btn-primary btn-lg">Submit</button>

                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.box-body -->
            </div>
        </section>
    </form>
}
</div>

<script src="~/Scripts/jquery-1.10.2.intellisense.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link href="~/Content/datepicker3.css" rel="stylesheet" />
<script src="~/Content/bootstrap-datepicker.js"></script>

<script>

//$(document).ready(function () {
//    $("#btnsubmit").click(function (e) {
//        $.ajax({
//        type: 'post',
//        dataType: 'json',
//        url: 'http://localhost:53263/TacticCampaign/Save',
//        data: $("#myform").serialize(),
//        success: function (data) {
//            {
//                alert(data);
//            }
//    },
//});
//    });
//});


    $('#StartDate').datepicker();
    $('#EndDate').datepicker();

</script>


<style>
    fieldset {
        border: 1px solid #DDD;
        padding: 0 1.4em 1.4em 1.4em;
        margin: 25px 0 1.5em 0;
    }

    legend {
        font-size: 1.2em;
        font-weight: bold;
    }
</style>