@model MRM.ViewModel.ChildCampaignViewModel
@{
    ViewBag.Title = "ChildCampaign";
}


<div>
@*@using (Html.BeginForm("ChildCampaign", "ChildCampaign", FormMethod.Post, new { id = "myform" }))*@
@using (Ajax.BeginForm("Save", "ChildCampaign", new AjaxOptions { UpdateTargetId = "divInterestDeatils" }))
{
    <form>
        <section class="content-header"></section>
        <section class="content">
            <!-- SELECT2 EXAMPLE -->
            <div class="box box-default">
                <div class="box-header with-border">
                    
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <fieldset>
                        <legend>Sub Campaign<span class="text-danger" style="float:right;font-size:x-small">Note: Mandatory fields is marked with red aestric (*)</span></legend>
                        
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Master Campaign</label><span class="text-danger">*</span>
                                        @Html.DropDownListFor(m => m.MasterViewModels, new SelectList(Model.MasterViewModels, "Id", "Name", Model.Id), "Select Option", new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label>Start Date</label><span class="text-danger">*</span>
                                    <div class="form-group">
                                        <div class="col-md-6 date datealign">
                                            <div class="input-group input-append date" id="StartDate">
                                                @Html.TextBoxFor(m => m.StartDate, new { @maxlength = "10", @class = "form-control" })
                                                <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                                            </div>
                                        </div>

                                    </div>
                                   
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Theme</label><br />
                                        @Html.ListBoxFor(m => m.Themes_Id, new MultiSelectList(Model.ThemeViewModels, "Id", "Name", Model.Themes_Id), new { @class = "chosen-select form-control" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label>End Date</label><span class="text-danger">*</span>
                                    <div class="form-group">
                                        <div class="col-md-6 form-group date datealign">
                                            <div class="input-group input-append date" id="EndDate">
                                                @Html.TextBoxFor(m => m.EndDate, new { @maxlength = "10", @class = "form-control" })
                                                <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Campaign Type</label>
                                        @Html.DropDownList("Type(Sub Campaign)", new List<SelectListItem>
                                     {
                                        new SelectListItem{ Text="BG Led", Value = "0" },
                                        new SelectListItem{ Text="GEPS", Value = "1" }
                                     }, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Segment</label><span class="text-danger">*</span><br />
                                        @Html.ListBoxFor(m => m.Segments_Id, new MultiSelectList(Model.SegmentViewModels, "Id", "Name", Model.Segments_Id), new { @class = "chosen-select form-control" })
                                    </div>
                                   
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Business Group</label><span class="text-danger">*</span><br />
                                        @Html.ListBoxFor(m => m.BusinessGroups_Id, new MultiSelectList(Model.BusinessGroupViewModels, "Id", "Name", Model.BusinessGroups_Id), new { @class = "chosen-select form-control" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Industry</label><span class="text-danger">*</span><br />
                                        @Html.ListBoxFor(m => m.Industries_Id, new MultiSelectList(Model.IndustryViewModels, "Id", "Name", Model.Industries_Id), new { @class = "chosen-select form-control" })
                                    </div>
                                  
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Business Line</label><span class="text-danger">*</span><br />
                                        @Html.ListBoxFor(m => m.BusinessLines_Id, new MultiSelectList(Model.BusinessLineViewModels, "Id", "Name", Model.BusinessLines_Id), new { @class = "chosen-select form-control" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Geography</label><span class="text-danger">*</span><br />
                                        @Html.ListBoxFor(m => m.Geographys_Id, new MultiSelectList(Model.GeographyViewModels, "Id", "Name", Model.Geographys_Id), new { @class = "chosen-select form-control" })
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Status</label>
                                        @Html.DropDownListFor(m => m.Status, new List<SelectListItem>
                                     {
                                        new SelectListItem{ Text="Save Draft" },
                                        new SelectListItem{ Text="Complete"}
                                     }, new { @class = "form-control" })

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Sub Campaign Name</label><span class="text-danger">*</span>
                                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                     
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Sub Campaign Description</label>
                                        @Html.TextAreaFor(m => m.CampaignDescription, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-md-6">

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Marketing Influence Leads</label>
                                        @Html.TextBoxFor(m => m.MarketingInfluenceLeads, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Marketing Influence Opportunity</label>
                                        @Html.TextBoxFor(m => m.MarketingInfluenceOpportunity, new { @maxlength = "25", @class = "form-control" })
                                    </div>
                                </div>
                            </div>



                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Marketing Generated Leads</label>
                                        @Html.TextBoxFor(m => m.MarketingGeneratedLeads, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Marketing Generated Opportunity</label>
                                        @Html.TextBoxFor(m => m.MarketingGeneratedOpportunity, new { @maxlength = "25", @class = "form-control" })
                                    </div>   
                                </div>
                            </div>





                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Budget</label>
                                        @Html.TextBoxFor(m => m.Budget, new { @class = "form-control" })
                                    </div>   
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Spend</label>
                                        @Html.TextBoxFor(m => m.Spend, new { @maxlength = "10", @class = "form-control" })
                                    </div>
                                </div>
                            </div>



                            <!-- /.col -->
                    

                    </fieldset>

                    <fieldset>
                        <div class="row" style="padding-top:10px">
                            <div class="col-md-2">
                                <input type="button" class="btn btn-block btn-primary btn-sm" value="Back" onclick="location.href='@Url.Action("Index", "MasterCampaign")'" />
                            </div>
                            <div class="col-md-6"></div>
                            <div class="col-md-4">
                                <div class="col-md-4">
                                    <button Id="btnsubmit" name="button" value="Submit" class="btn btn-block btn-primary btn-sm">Submit</button>
                                </div>
                                <div class="col-md-4">
                                    <button Id="btnsubmit" name="button" value="Save Draft" class="btn btn-block btn-primary btn-sm">Save Draft</button>
                                </div>
                                <div class="col-md-4">
                                    <button Id="btnsubmit" name="button" value="Delete" class="btn btn-block btn-danger btn-sm">Delete</button>
                                </div>
                            </div>

                        </div>
                    </fieldset>
                    <!-- /.row -->
                </div>
                <!-- /.box-body -->
            </div>

        </section>
    </form>
}
</div>


<link href="~/Content/datepicker3.css" rel="stylesheet" />
<script src="~/Content/bootstrap-datepicker.js"></script>
<script>

    $(document).ready(function () {
        $(document).on("change", "#MasterViewModels", function (e) {
            var masterId = $(this).find(":selected").val();

            if (masterId != 0) {
                window.location.href = '/ChildCampaign/ChildCampaign?id=' + masterId + '&_=' + (new Date()).getTime();
                //$.ajax({
                //    type: 'post',
                //    dataType: 'json',
                //    url: '/ChildCampaign/ChildCampaign?id=' + masterId + '&_=' + (new Date()).getTime(),
                //    success: function (data) {
                //        {
                //            debugger
                //            alert(data);
                //            //$('#maindiv').html(data);
                //        }
                //    },
                //});
            }

            
        });
        
    });

    $('#StartDate').datepicker();
    $('#EndDate').datepicker();
</script>


<style>
    fieldset {
        border: 1px solid #DDD;
        padding: 0 1.4em 1.4em 1.4em;
        margin: 25px 0 1.5em 0;
    }

    legend {
        font-size: 1.2em;
        font-weight: bold;
    }

    .datealign {
    padding-left:0px!important;
    }
</style>

