@model MRM.ViewModel.ChildCampaignViewModel
@{
    ViewBag.Title = "ChildCampaign";
}


<div>
@*@using (Html.BeginForm("ChildCampaign", "ChildCampaign", FormMethod.Post, new { id = "myform" }))*@
@using (Ajax.BeginForm("Save", "ChildCampaign", new AjaxOptions { UpdateTargetId = "divInterestDeatils" }))
{
    <form>
        <section class="content-header"></section>
        <section class="content">
            <!-- SELECT2 EXAMPLE -->
            <div class="box box-default">
                <div class="box-header with-border">
                    
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <fieldset>
                        <legend>Sub Campaign<span class="text-danger" style="float:right;font-size:x-small">Note: Mandatory fields is marked with red aestric (*)</span></legend>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Master Campaign</label><span class="text-danger">*</span><br />
                                    @Html.DropDownListFor(m => m.MasterViewModels, new SelectList(Model.MasterViewModels, "Id", "Name"), "Select Option", new { @class = "chosen-single form-control" })
                                    <div class="validmsgMastercampaign"></div>
                                </div>
                            </div>
                           
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Sub Campaign Name</label><span class="text-danger">*</span>
                                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                                    <div class="validmsgSubCamp"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Sub Campaign Description<span class="text-danger">*</span></label>
                                    @Html.TextAreaFor(m => m.CampaignDescription, new { @class = "form-control" })
                                    <div class="validmsgSubCampDesc"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Theme</label><br />
                                    @Html.ListBoxFor(m => m.Themes_Id, new MultiSelectList(Model.ThemeViewModels, "Id", "Name", Model.Themes_Id), new { @class = "chosen-select form-control" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Geography</label><span class="text-danger">*</span><br />
                                    @Html.ListBoxFor(m => m.Geographys_Id, new MultiSelectList(Model.GeographyViewModels, "Id", "Name", Model.Geographys_Id), new { @class = "chosen-select form-control" })
                                    <div class="validmsgbusinesGeography"></div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <label>Start Date</label><span class="text-danger">*</span>
                                <div class="form-group">
                                    <div class="col-md-6 date datealign">
                                        <div class="input-group input-append date" id="StartDate">
                                            @Html.TextBoxFor(m => m.StartDate, new { @maxlength = "10", @class = "form-control" })
                                            <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>
                                    </div>
                                    <div class="validmsgSdate"></div>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <label>End Date</label><span class="text-danger">*</span>
                                <div class="form-group">
                                    <div class="col-md-6 form-group date datealign">
                                        <div class="input-group input-append date" id="EndDate">
                                            @Html.TextBoxFor(m => m.EndDate, new { @maxlength = "10", @class = "form-control" })
                                            <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>
                                    </div>
                                    <div class="validmsgEdate"></div><div class="validmsgDatecompare"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Campaign Type<span class="text-danger">*</span></label><br />
                                    @Html.DropDownList("subcampaigntype", new List<SelectListItem>
                                     {
                                        new SelectListItem{ Text="BG Led", Value = "0" },
                                        new SelectListItem{ Text="GEPS", Value = "1" }
                                     }, "Select Option", new { @class = "chosen-single form-control" })
                                    <div class="validmsgsubcampaigntype"></div>
                                </div>
                            </div>
                            <div class="col-md-6">

                            </div>
                        </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Business Group</label><span class="text-danger">*</span><br />
                                            @Html.ListBoxFor(m => m.BusinessGroups_Id, new MultiSelectList(Model.BusinessGroupViewModels, "Id", "Name", Model.BusinessGroups_Id), new { @class = "chosen-select form-control" })
                                            <div class="validmsgbusinesGp"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Segment</label><span class="text-danger">*</span><br />
                                            @Html.ListBoxFor(m => m.Segments_Id, new MultiSelectList(Model.SegmentViewModels, "Id", "Name", Model.Segments_Id), new { @class = "chosen-select form-control" })
                                            <div class="validmsgbusinesSegment"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Business Line</label><span class="text-danger">*</span><br />
                                            @Html.ListBoxFor(m => m.BusinessLines_Id, new MultiSelectList(Model.BusinessLineViewModels, "Id", "Name", Model.BusinessLines_Id), new { @class = "chosen-select form-control" })
                                            <div class="validmsgbusinesLine"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Industry</label><span class="text-danger">*</span><br />
                                            @Html.ListBoxFor(m => m.Industries_Id, new MultiSelectList(Model.IndustryViewModels, "Id", "Name", Model.Industries_Id), new { @class = "chosen-select form-control" })
                                            <div class="validmsgbusinesIndustry"></div>
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Budget<span class="text-danger">*</span></label>
                                            @Html.TextBoxFor(m => m.Budget, new { @class = "form-control" })
                                            <div class="validmsgBudget"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Spend</label>
                                            @Html.TextBoxFor(m => m.Spend, new { @maxlength = "10", @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                       
                                    </div>
                                    <div class="col-md-6">
                                     <label>Benchmark</label>  
                                    </div>
                                </div>
                            <div class="row">
                            <div class="col-md-3"><label>Pipeline Metric</label></div>
                            <div class="col-md-3"><label>Goal</label></div>
                            <div class="col-md-3"><label>Low</label></div>
                            <div class="col-md-3"><label>High</label></div>
                            </div>
                        @*<div class="row">
                            <div class="col-md-3"><label>MIL</label></div>
                            <div class="col-md-3">@Html.TextBoxFor(m => m.MILGoal, new { @maxlength = "10", @class = "form-control" })</div>
                            <div class="col-md-3">@Html.TextBoxFor(m => m.MILLow, new { @maxlength = "10", @class = "form-control" })</div>
                            <div class="col-md-3">@Html.TextBoxFor(m => m.MILHigh, new { @maxlength = "10", @class = "form-control" })</div>
                        </div>
                        <div class="row">
                            <div class="col-md-3"><label>MGL</label></div>
                            <div class="col-md-3">@Html.TextBoxFor(m => m.MGLGoal, new { @maxlength = "10", @class = "form-control" })</div>
                            <div class="col-md-3">@Html.TextBoxFor(m => m.MGLLow, new { @maxlength = "10", @class = "form-control" })</div>
                            <div class="col-md-3">@Html.TextBoxFor(m => m.MGLHigh, new { @maxlength = "10", @class = "form-control" })</div>
                        </div>
                        <div class="row">
                            <div class="col-md-3"><label>MIO</label></div>
                            <div class="col-md-3">@Html.TextBoxFor(m => m.MIOGoal, new { @maxlength = "10", @class = "form-control" })</div>
                            <div class="col-md-3">@Html.TextBoxFor(m => m.MIOLow, new { @maxlength = "10", @class = "form-control" })</div>
                            <div class="col-md-3">@Html.TextBoxFor(m => m.MIOHigh, new { @maxlength = "10", @class = "form-control" })</div>
                        </div>
                        <div class="row">
                            <div class="col-md-3"><label>MGO</label></div>
                            <div class="col-md-3">@Html.TextBoxFor(m => m.MGOGoal, new { @maxlength = "10", @class = "form-control" })</div>
                            <div class="col-md-3">@Html.TextBoxFor(m => m.MGOLow, new { @maxlength = "10", @class = "form-control" })</div>
                            <div class="col-md-3">@Html.TextBoxFor(m => m.MGOHigh, new { @maxlength = "10", @class = "form-control" })</div>
                        </div>*@

                                @*<div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Marketing Influence Leads</label>
                                            @Html.TextBoxFor(m => m.MarketingInfluenceLeads, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Marketing Influence Opportunity</label>
                                            @Html.TextBoxFor(m => m.MarketingInfluenceOpportunity, new { @maxlength = "25", @class = "form-control" })
                                        </div>
                                    </div>
                                </div>



                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Marketing Generated Leads</label>
                                            @Html.TextBoxFor(m => m.MarketingGeneratedLeads, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Marketing Generated Opportunity</label>
                                            @Html.TextBoxFor(m => m.MarketingGeneratedOpportunity, new { @maxlength = "25", @class = "form-control" })
                                        </div>
                                    </div>
                                </div>*@


                                


                    </fieldset>

                    <fieldset>
                        <div class="row" style="padding-top:10px">
                            <div class="col-md-2">
                                <input type="button" class="btn btn-block btn-primary btn-sm" value="Back" onclick="location.href='@Url.Action("Index", "MasterCampaign")'" />
                            </div>
                            <div class="col-md-6"></div>
                            <div class="col-md-4">
                                <div class="col-md-4">
                                    <button Id="btnsubmit" name="button" value="Submit" class="btn btn-block btn-primary btn-sm" onclick="return  ValidateForm()">Submit</button>
                                </div>
                                <div class="col-md-4">
                                    <button Id="btnsubmit" name="button" value="Save Draft" class="btn btn-block btn-primary btn-sm">Save Draft</button>
                                </div>
                                <div class="col-md-4">
                                    <button Id="btnsubmit" name="button" value="Delete Draft" class="btn btn-block btn-danger btn-sm">Delete</button>
                                </div>
                            </div>

                        </div>
                    </fieldset>
                    <!-- /.row -->
                </div>
                <!-- /.box-body -->
            </div>

        </section>
    </form>
}
</div>


<link href="~/Content/datepicker3.css" rel="stylesheet" />
<script src="~/Content/bootstrap-datepicker.js"></script>
<script>

    $(document).ready(function () {
        $('.chosen-single').chosen();
        $(document).on("change", "#MasterViewModels", function (e) {
            var masterId = $(this).find(":selected").val();

            if (masterId != 0) {
                window.location.href = '/ChildCampaign/ChildCampaign?id=' + masterId + '&_=' + (new Date()).getTime();
                //$.ajax({
                //    type: 'post',
                //    dataType: 'json',
                //    url: '/ChildCampaign/ChildCampaign?id=' + masterId + '&_=' + (new Date()).getTime(),
                //    success: function (data) {
                //        {
                //            debugger
                //            alert(data);
                //            //$('#maindiv').html(data);
                //        }
                //    },
                //});
            }

            
        });
        $(document).on("change", "#BusinessGroups_Id", function (e) {
            var BusinessGroups_Id = $(this).find(":selected").val();

            if (BusinessGroups_Id != 0) {
                window.location.href = '/ChildCampaign/ChildCampaign?id=' + BusinessGroups_Id + '&_=' + (new Date()).getTime();
            }
        });
    });

    $('#StartDate').datepicker();
    $('#EndDate').datepicker();


    function ValidateForm() {
        var flag = true;
        
     
        if ($('#MasterViewModels').val() == "") {

            $('.validmsgMastercampaign').text("Please select Master Campaign").css("color", "#b94a48");
            $('.validmsgMastercampaign').show();
            flag = false;

        }
        else {
            $('.validmsgMastercampaign').hide();
        }

        if ($('#BusinessGroups_Id').val() == null) {

            $('.validmsgbusinesGp').text("Please select Business Group").css("color", "#b94a48");
            $('.validmsgbusinesGp').show();
            flag = false;

        }
        else {
            $('.validmsgbusinesGp').hide();
        }

        if ($('#BusinessLines_Id').val() == null) {

            $('.validmsgbusinesLine').text("Please select Business Line").css("color", "#b94a48");
            $('.validmsgbusinesLine').show();
            flag = false;

        }
        else
        {
            $('.validmsgbusinesLine').hide();
        }

        if ($('#Segments_Id').val() == null) {

            $('.validmsgbusinesSegment').text("Please select Segment").css("color", "#b94a48");
            $('.validmsgbusinesSegment').show();
            flag = false;

        }
        else {
            $('.validmsgbusinesSegment').hide();
        }

        if ($('#subcampaigntype').val() == "")
        {

            $('.validmsgsubcampaigntype').text("Please select Campaign Type").css("color", "#b94a48");
            $('.validmsgsubcampaigntype').show();
            flag = false;

        }
        else {
            $('.validmsgsubcampaigntype').hide();
        }
     

        if ($('#subcampaigntype').val() == "1") {
            if ($('#Industries_Id').val() == null) {

                $('.validmsgbusinesIndustry').text("Please select Industry").css("color", "#b94a48");
                $('.validmsgbusinesIndustry').show();
                flag = false;

            }
            else {
                $('.validmsgbusinesIndustry').hide();
            }
        }


        if ($("#StartDate").find("input").val() == "") {
            $('.validmsgSdate').text("Please select start date").css("color", "#b94a48");
            $('.validmsgSdate').show();
            flag = false;

        }
        else
        {
            $('.validmsgSdate').hide();
        }
        
        if ($("#EndDate").find("input").val() == "") {
            $('.validmsgEdate').text("Please select end date").css("color", "#b94a48");
            $('.validmsgEdate').show();
            flag = false;
        }
        else {
            $('.validmsgEdate').hide();
        }
        var startdate = new Date($("#StartDate").find("input").val());
        var enddate = new Date($("#EndDate").find("input").val());
        if (startdate > enddate) {
            $('.validmsgDatecompare').text("End Date can not less than Start Date").css("color", "#b94a48");
            $('.validmsgDatecompare').show();
            flag = false;
        }
        else {
            $('.validmsgDatecompare').hide();
        }

        if ($('#Name').val() == "") {
            $('.validmsgSubCamp').text("Please enter Sub Campaign Name").css("color", "#b94a48");
            $('.validmsgSubCamp').show();
            flag = false;

        }
        else {

            $('.validmsgSubCamp').hide();
        }


        if ($('#Status').val() == "") {
            $('.validmsgstatus').text("Please select Status").css("color", "#b94a48");
            $('.validmsgstatus').show();
            flag = false;

        }
        else {

            $('.validmsgstatus').hide();
        }

        if ($('#CampaignDescription').val() == "") {
            $('.validmsgSubCampDesc').text("Please enter Sub Campaign Description").css("color", "#b94a48");
            $('.validmsgSubCampDesc').show();
            flag = false;
        }
        else
        {

            $('.validmsgSubCampDesc').hide();
        }


        if ($('#Budget').val() == "") {
            $('.validmsgBudget').text("Please enter Budget").css("color", "#b94a48");
            $('.validmsgBudget').show();
            flag = false;
        }
        else {

            $('.validmsgBudget').hide();
        }


        if (flag == false)
        {
            return false;;
        }
        else
        {

            true;
        }

    }


</script>


<style>
    fieldset {
        border: 1px solid #DDD;
        padding: 0 1.4em 1.4em 1.4em;
        margin: 25px 0 1.5em 0;
    }

    legend {
        font-size: 1.2em;
        font-weight: bold;
    }

    .datealign {
    padding-left:0px!important;
    }
</style>

