@model MRM.Model.ChildCampaignViewModel
@{
    ViewBag.Title = "ChildCampaign";
}

<div>
@*@using (Html.BeginForm("ChildCampaign", "ChildCampaign", FormMethod.Post, new { id = "myform" }))*@
@using (Ajax.BeginForm("Save", "ChildCampaign", new AjaxOptions { UpdateTargetId = "divInterestDeatils" }))
{
    <form>
        <section class="content-header"></section>
        <section class="content">
            <!-- SELECT2 EXAMPLE -->
            <div class="box box-default">
                <div class="box-header with-border">
                    
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <fieldset>
                        <legend>Sub Campaign</legend>
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label>Master Campaign</label>
                                    @Html.DropDownListFor(m => m.MasterViewModels, new SelectList(Model.MasterViewModels, "Id", "Name"), new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label>BG Led</label>
                                    @Html.DropDownList("Type(Sub Campaign)", new List<SelectListItem>
                                     {
                                        new SelectListItem{ Text="BG Led", Value = "0" },
                                        new SelectListItem{ Text="GEPS", Value = "1" }
                                     }, new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label>Business Group*</label>
                                    @Html.DropDownListFor(m => m.BusinessGroups_Id, new SelectList(Model.BusinessGroupViewModels, "Id", "Name"), new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label>Business Line*</label>
                                    @Html.DropDownListFor(m => m.BusinessLines_Id, new SelectList(Model.BusinessLineViewModels, "Id", "Name"), new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label>Status</label>
                                    @Html.DropDownListFor(m => m.Status, new List<SelectListItem>
                                     {
                                        new SelectListItem{ Text="Saved draft", Value = "0" },
                                        new SelectListItem{ Text="Saved draft1", Value = "1" }
                                     }, new { @class = "form-control" })

                                </div>
                                <div class="form-group">
                                    <label>Sub Champaign*</label>
                                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label>Sub Champaign Description</label>
                                    @Html.TextBoxFor(m => m.CampaignDescription, new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label>Marketing Influence Leads</label>
                                    @Html.TextBoxFor(m => m.MarketingInfluenceLeads, new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label>Marketing Generated Leads</label>
                                    @Html.TextBoxFor(m => m.MarketingGeneratedLeads, new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label>Budget</label>
                                    @Html.TextBoxFor(m => m.Budget, new { @class = "form-control" })
                                </div>                              
                            </div>
                            <!-- /.col -->

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Theme</label>
                                    @Html.DropDownListFor(m => m.Themes_Id, new SelectList(Model.ThemeViewModels, "Id", "Name"), new { @class = "form-control" })
                                </div>
                               <div class="form-group">
                                   <div class="col-md-6 form-group" style="margin-left:-14px">
                                       <label>Segment*</label>
                                       @Html.DropDownListFor(m => m.Segments_Id, new SelectList(Model.SegmentViewModels, "Id", "Name"), new { @class = "form-control" })
                                   </div>
                                   <div class="col-md-6 form-group">
                                       <label>Industry*</label>
                                       @Html.DropDownListFor(m => m.Industries_Id, new SelectList(Model.IndustryViewModels, "Id", "Name"), new { @class = "form-control" })
                                   </div>
                                    </div>                              
                                <div class="form-group">
                                    <div class="col-md-6" style="margin-left:-14px"></div>
                                    <div class="col-md-6">
                                    <label>Geography</label>
                                    @Html.DropDownListFor(m => m.Geographys_Id, new SelectList(Model.GeographyViewModels, "Id", "Name"), new { @class = "form-control" })
                                    </div>
                                  
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6 form-group" style="margin-left:-14px">
                                        <label>Start Date</label>
                                        @Html.TextBoxFor(m => m.StartDate, new { @class = "form-control" })
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label>End Date</label>
                                        @Html.TextBoxFor(m => m.EndDate, new { @class = "form-control" })
                                    </div>
                                    </div>
                                <div class="form-group">
                                    <label>Marketing Influence Opportunity</label>
                                    @Html.TextBoxFor(m => m.MarketingInfluenceOpportunity, new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label>Marketing Generated Opportunity</label>
                                    @Html.TextBoxFor(m => m.MarketingGeneratedOpportunity, new { @class = "form-control" })
                                </div>                              
                                <!-- /.form-group -->
                                <div class="form-group">
                                    <label>Spend*</label>
                                    @Html.TextBoxFor(m => m.Spend, new { @class = "form-control" })
                                </div>
                                <!-- /.form-group -->

                            </div>

                            <!-- /.col -->
                        </div>

                    </fieldset>
                    <fieldset>
                        <div class="row" style="padding-top:10px">
                            <div class="col-md-6">
                            </div>
                            <div class="col-md-6">
                                <div class="col-md-3">
                                    <input type="button" class="btn btn-block btn-primary btn-lg" value="Back" onclick="location.href='@Url.Action("Index", "MasterCampaign")'" />
                                </div>
                                <div class="col-md-3">
                                    <button Id="btnsubmit" class="btn btn-block btn-primary btn-lg">Submit</button>

                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <!-- /.row -->
                </div>
                <!-- /.box-body -->
            </div>

        </section>
    </form>
}
</div>

<script src="~/Scripts/jquery-1.10.2.intellisense.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link href="~/Content/datepicker3.css" rel="stylesheet" />
<script src="~/Content/bootstrap-datepicker.js"></script>
<script>

//    $(document).ready(function () {
//        var model={IndustryViewModels: $("#IndustryViewModels : selected").val()}

//    $("#btnsubmit").click(function (e) {
//        $.ajax({
//        type: 'post',
//        dataType: 'json',
//        url: 'http://localhost:53263/ChildCampaign/Save',
//        data: json.stringfy(model),
//        success: function (data) {
//            {
//                alert(data);
//            }
//    },
//});
//    });
//});

    $('#StartDate').datepicker();
    $('#EndDate').datepicker();
</script>


<style>
    fieldset {
        border: 1px solid #DDD;
        padding: 0 1.4em 1.4em 1.4em;
        margin: 25px 0 1.5em 0;
    }

    legend {
        font-size: 1.2em;
        font-weight: bold;
    }
</style>